* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 30%;
  height: 90vh;
}

#header {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  width: 100%;
}

#new-item-form {
  display: flex;
  width: 100%;
}

#form-input {
  width: 100%;
}

#item-area {
  border: 1px solid red;
  width: 100%;
  height: 100%;
}

.item {
  display: flex;
  border-bottom: 1px solid red;
  justify-content: space-between;
  padding: 10px;
}